## Reference:
#   - http://editorconfig.org/
#   - https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options
## Visual Studio IDE support for editing .editorconfig files:
#   - https://marketplace.visualstudio.com/items?itemName=EditorConfigTeam.EditorConfig

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[{*.h.vc*}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{bat,sln,*proj,*proj.filters,rc,rc2}]
charset = unset
end_of_line = crlf
insert_final_newline = unset
indent_style = unset
indent_size = unset

[{makefile.vc,nmake.opt}]
end_of_line = crlf
indent_style = tab

[{configure,configure.*,config.*,*.{sh,yml}}]
indent_size = 2

[{GNUmakefile,*.in}]
indent_style = tab
