[flake8]
max_line_length = 88
ignore =
    # Unnecessary dict/list/tuple call - rewrite as a literal
    C408 
    # whitespace before ':' - doesn't work well with black
    E203 
    # missing whitespace around operator - let black worry about that
    E225 
    # inline comment should start with '# '
    E262 
    # block comment should start with '# '
    E265 
    # too many leading '#' for block comment
    E266 
    # expected 2 blank lines, found 1
    E302 
    # module level import not at top of file
    E402 
    # line too long - let black handle that
    E501 
    # comparison to None should be
    E711 
    # comparison to False/True should be
    E712 
    # ambiguous variable name
    E741 
    # may be undefined, or defined from star imports
    F405 
    # trailing
    W291 
    # line break occurred before a binary operator - let black worry about that
    W503 
    # line break occurred adter a binary operator - let black worry about that
    W504 
per-file-ignores =
    .cmake-format.py:F821