GDALmake.opt
autom4te.cache
detectavx.dSYM
detectsse.dSYM
gdal.pc
config.log
config.status
configure
aclocal.m4
libtool
cpl_config.h
clean_main_build_output.bat
*.o
*.res
*.obj
*.lib
*.exe
*.exe.manifest
*.dll
*.pdb
*.idb
*.ilk
*.dll.manifest
*.exp
*.lo
*.la
*.so
.libs
*.pyc
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb
*.swp
/[Dd]ebug
/[Rr]elease
/x64
/.vs
/.vscode
/nbproject
frmts/jpipkak/kdu_cache.cpp
frmts/jpipkak/kdu_cache_wrapper.h
frmts/msg/PublicDecompWT/
frmts/msg/PublicDecompWT_all.h
frmts/jpeg/libjpeg12/*.c
frmts/jpeg/libjpeg12/*.h
gcore/gdal_version.h
libgdal.a
libgdal.so
libgdal.so.*
apps/gdal-config
apps/gdal-config-inst
apps/gdal_contour
apps/gdal_grid
apps/gdal_rasterize
apps/gdal_translate
apps/gdal_viewshed
apps/gdaladdo
apps/gdalbuildvrt
apps/gdaldem
apps/gdalenhance
apps/gdalinfo
apps/gdalmdiminfo
apps/gdalmdimtranslate
apps/gdallocationinfo
apps/gdalmanage
apps/gdalsrsinfo
apps/gdaltindex
apps/gdaltransform
apps/gdalwarp
apps/gnmanalyse
apps/gnmmanage
apps/nearblack
apps/ogr2ogr
apps/ogrinfo
apps/ogrlineref
apps/ogrtindex
apps/testepsg
apps/gdalserver
apps/test_ogrsf
apps/dumpoverviews
apps/gdalwarpsimple
apps/multireadtest
apps/gdal_create
port/dllbuild.prev
port/prev_dllbuild.bat
swig/java/build
swig/java/gdal.jar
swig/java/gdal_wrap.cpp
swig/java/gdalconst_wrap.c
swig/java/libgdalconstjni.so
swig/java/libgdaljni.so
swig/java/libogrjni.so
swig/java/libosrjni.so
swig/java/ogr_wrap.cpp
swig/java/org/
swig/java/osr_wrap.cpp
swig/java/gnm_wrap.cpp
swig/python/build
swig/python/setup_vars.ini
swig/python/record.txt
swig/perl/Const.bs
swig/perl/GDAL.bs
swig/perl/Makefile_Geo__GDAL
swig/perl/Makefile_Geo__GDAL__Const
swig/perl/Makefile_Geo__OGR
swig/perl/Makefile_Geo__OSR
swig/perl/OGR.bs
swig/perl/OSR.bs
swig/perl/blib/
swig/perl/lib/Geo/GDAL/*.pm
swig/perl/lib/Geo/*.pm
swig/perl/gdal_wrap.cpp
swig/perl/gdalconst_wrap.c
swig/perl/ogr_wrap.cpp
swig/perl/osr_wrap.cpp
swig/perl/pm_to_blib
swig/perl/GNM.bs
swig/perl/MYMETA.json
swig/perl/MYMETA.yml
swig/perl/Makefile_Geo__GNM
swig/perl/gnm_wrap.cpp
swig/csharp/*.cpp
swig/csharp/*.c
swig/csharp/*.mdb
swig/csharp/*.config
swig/csharp/osr
swig/csharp/ogr
swig/csharp/gdal
swig/csharp/const
fuzzers/libFuzzingEngine.a
fuzzers/tests/test_gdal_fuzzer
fuzzers/tests/test_ogr_fuzzer
fuzzers/tests/test_osr_set_from_user_input_fuzzer
fuzzers/tests/test_wkb_import_fuzzer
fuzzers/tests/test_wkt_import_fuzzer
html/
nmake.local*
*~
*tmp
.python-version
.vagrant

# IDE ignore
.project
.settings
.pydevproject
.cproject
.idea
.vscode
.vs
.vim

# clangd lsp
.clangd
compile_commands.json

# Python
__pycache__/
.env*/
.venv*/

# NuGet package manager storage
gdal/packages*
gdal/share

