GDALmake.opt
config.log
config.status
libtool
cpl_config.h
*.o
*.res
*.obj
*.lib
*.exe
*.exe.manifest
*.dll
*.dll.manifest
*.exp
*.lo
*.la
.libs
*.pyc
frmts/jpeg/libjpeg12/*.c
frmts/jpeg/libjpeg12/*.h
libgdal.a
libgdal.so
libgdal.so.*
apps/gdal-config
apps/gdal-config-inst
apps/gdal_contour
apps/gdal_grid
apps/gdal_rasterize
apps/gdal_translate
apps/gdaladdo
apps/gdalbuildvrt
apps/gdaldem
apps/gdalenhance
apps/gdalinfo
apps/gdallocationinfo
apps/gdalmanage
apps/gdalsrsinfo
apps/gdaltindex
apps/gdaltransform
apps/gdalwarp
apps/nearblack
apps/ogr2ogr
apps/ogrinfo
apps/ogrtindex
apps/testepsg
apps/gdalclientserver
apps/test_ogrsf
swig/python/build
swig/perl/Const.bs
swig/perl/GDAL.bs
swig/perl/Makefile_Geo__GDAL
swig/perl/Makefile_Geo__GDAL__Const
swig/perl/Makefile_Geo__OGR
swig/perl/Makefile_Geo__OSR
swig/perl/OGR.bs
swig/perl/OSR.bs
swig/perl/blib/
swig/perl/lib/Geo/GDAL/*.pm
swig/perl/lib/Geo/*.pm
swig/perl/gdal_wrap.cpp
swig/perl/gdalconst_wrap.c
swig/perl/ogr_wrap.cpp
swig/perl/osr_wrap.cpp
swig/perl/pm_to_blib
man/
html/
nmake.local
