*.pyc
cpp/*.dll
cpp/*.exe
cpp/*.exe.manifest
cpp/*.exp
cpp/*.ilk
cpp/*.lib
cpp/*.pdb
cpp/*.vcxproj
cpp/*.vcxproj.filters
cpp/*.vcxproj.user
cpp/.libs
cpp/[Dd]ebug
cpp/[Rr]elease
cpp/x64
cpp/data/*.aux.xml
cpp/gdal_unit_test
cpp/test_c_include_from_cpp_file
cpp/test_include_from_c_file
cpp/testblockcache
cpp/testblockcachelimits
cpp/testblockcachewrite
cpp/testclosedondestroydm
cpp/testcopywords
cpp/testdestroy
cpp/testmultithreadedwriting
cpp/testperfcopywords
cpp/testthreadcond
cpp/testvirtualmem
cpp/test_osr_set_proj_search_paths
cpp/bug1488
cpp/proj_with_fork
ogr/tmp
ogr/data/delete_nas.gfs
ogr/data/replace_nas.gfs
ogr/data/test_point2.gfs
ogr/data/schema_with_geom_in_complextype.gfs
ogr/data/bylany.vfk.db
gcore/tmp
gcore/data/byte.tif.gz.properties
gdrivers/data/arg-float32.tif.aux.xml
gdrivers/data/arg-float64.tif.aux.xml
gdrivers/data/arg-int16-2.json
gdrivers/data/arg-int16.arg.aux.xml
gdrivers/data/byte.jp2.gz.properties
gdrivers/data/utm.json
gdrivers/tmp
osr/tmp
*~
*tmp