pytest>=6.0.0
pytest-sugar<=0.9.6; python_version < '3.7'
pytest-sugar; python_version >= '3.7'
pytest-env
pytest-benchmark
lxml
jsonschema
filelock
# importlib 6.2 and 6.3 break pytest with jsonschema. Cf https://github.com/python/importlib_resources/issues/299
importlib-resources<6.2.0
