# This file may be used to create an environment using:
# $ pip install --upgrade -r <this file>
breathe
fsspec
numpy
sphinx
sphinx_bootstrap_theme
sphinx-markdown-tables
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-jquery
# We use a slightly forked version
# sphinxcontrib-programoutput
sphinxcontrib-spelling
myst_nb
recommonmark
