GDALmake.opt
autom4te.cache
detectavx.dSYM
detectsse.dSYM
gdal.pc
config.log
config.status
libtool
cpl_config.h
*.o
*.res
*.obj
*.lib
*.exe
*.exe.manifest
*.dll
*.pdb
*.idb
*.ilk
*.dll.manifest
*.exp
*.lo
*.la
.libs
*.pyc
frmts/jpeg/libjpeg12/*.c
frmts/jpeg/libjpeg12/*.h
libgdal.a
libgdal.so
libgdal.so.*
apps/gdal-config
apps/gdal-config-inst
apps/gdal_contour
apps/gdal_grid
apps/gdal_rasterize
apps/gdal_translate
apps/gdaladdo
apps/gdalbuildvrt
apps/gdaldem
apps/gdalenhance
apps/gdalinfo
apps/gdallocationinfo
apps/gdalmanage
apps/gdalsrsinfo
apps/gdaltindex
apps/gdaltransform
apps/gdalwarp
apps/nearblack
apps/ogr2ogr
apps/ogrinfo
apps/ogrlineref
apps/ogrtindex
apps/testepsg
apps/gdalserver
apps/test_ogrsf
swig/java/build
swig/java/gdal.jar
swig/java/gdal_wrap.cpp
swig/java/gdalconst_wrap.c
swig/java/libgdalconstjni.so
swig/java/libgdaljni.so
swig/java/libogrjni.so
swig/java/libosrjni.so
swig/java/ogr_wrap.cpp
swig/java/org/
swig/java/osr_wrap.cpp
swig/python/build
swig/perl/Const.bs
swig/perl/GDAL.bs
swig/perl/Makefile_Geo__GDAL
swig/perl/Makefile_Geo__GDAL__Const
swig/perl/Makefile_Geo__OGR
swig/perl/Makefile_Geo__OSR
swig/perl/OGR.bs
swig/perl/OSR.bs
swig/perl/blib/
swig/perl/lib/Geo/GDAL/*.pm
swig/perl/lib/Geo/*.pm
swig/perl/gdal_wrap.cpp
swig/perl/gdalconst_wrap.c
swig/perl/ogr_wrap.cpp
swig/perl/osr_wrap.cpp
swig/perl/pm_to_blib
man/
html/
nmake.local
