name: CIFuzz

on:
    pull_request:
        paths-ignore:
            - 'doc/**'
            - 'docker/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  Fuzzing:
    runs-on: ubuntu-latest
    if: github.repository == 'OSGeo/gdal'

    steps:
    - name: Build Fuzzers
      id: build
      uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@45ba562b43a923d7be2bf33c902e26a8f9c24285 # master on 2026/01/30
      with:
        oss-fuzz-project-name: 'gdal'
        dry-run: false
    - name: Run Fuzzers
      uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@45ba562b43a923d7be2bf33c902e26a8f9c24285 # master on 2026/01/30
      with:
        oss-fuzz-project-name: 'gdal'
        fuzz-seconds: 600
        dry-run: false
    - name: Upload Crash
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: failure() && steps.build.outcome == 'success'
      with:
        name: artifacts
        path: ./out/artifacts
