# Azure Pipelines to build GDAL documentation

trigger:
  batch: true
  branches:
    include:
    - master
    - doc-sprint # remove me later

pr:
  autoCancel: true
  branches:
    include:
    - master

variables:
  #system.debug: true
  configuration: release

jobs:
  - job: 'Documentation'
    pool:
      vmImage: 'ubuntu-16.04'
    container:
      image: osgeo/proj-docs
      options: --privileged
    steps:
      - script: |
          python3 --version
          sphinx-build --version
        displayName: 'Sphinx version'
      - script: |
          cd gdal/doc
          make html
        displayName: 'Make html'
      - script: |
          cd gdal/doc
          make latexpdf
        displayName: 'Make pdf'
      - task: DownloadSecureFile@1
        inputs:
          secureFile: 'pdal-docs-ssh-key'
        displayName: 'Get the deploy key'
        condition: notin(variables['Build.Reason'], 'PullRequest')
      - script: |
          mkdir ~/.ssh && mv $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
          chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
        displayName: 'Deploy the key'
        condition: notin(variables['Build.Reason'], 'PullRequest')
      - script: |
          apt install wget unzip
          mv gdal/doc/build/html gdal-docs
          rm gdal-docs/gdal.pdf
          cp gdal/doc/build/latex/gdal.pdf gdal-docs
          cd gdal-docs
          wget https://download.osgeo.org/gdal/for_doc/javadoc.zip -O /tmp/javadoc.zip
          wget https://download.osgeo.org/gdal/for_doc/python-doc.tar.gz -O /tmp/python-doc.tar.gz
          unzip -q /tmp/javadoc.zip
          tar xzf /tmp/python-doc.tar.gz
          git init
          git config user.email "proj4bot@proj4.bot"
          git config user.name "GDAL Bot"
          git remote add origin git@github.com:OSGeo/gdal-docs.git
          echo "gdal.dev" > CNAME
          touch .nojekyll
          git add -A
          git commit -m "Update with https://github.com/OSGeo/gdal/commit/$BUILD_SOURCEVERSION"
          git push -f origin master
        displayName: 'Deploy the docs'
        condition: notin(variables['Build.Reason'], 'PullRequest')
