# This file may be used to create an environment using:
# $ pip install --upgrade -r <this file>
sphinx
breathe
sphinx_bootstrap_theme
sphinxcontrib-bibtex
sphinx_rtd_theme
recommonmark
sphinx-markdown-tables
sphinxcontrib-spelling
