# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
alabaster=0.7.12=pypi_0
babel=2.6.0=pypi_0
beautifulsoup4=4.7.1=pypi_0
breathe=4.13.0.post0=pypi_0
bs4=0.0.1=pypi_0
bzip2=1.0.6=h1de35cc_1002
ca-certificates=2019.3.9=hecc5488_0
certifi=2019.3.9=py37_0
chardet=3.0.4=pypi_0
docutils=0.14=pypi_0
exhale=0.2.2=pypi_0
idna=2.8=pypi_0
imagesize=1.1.0=pypi_0
jinja2=2.10.1=pypi_0
libcxx=8.0.0=2
libcxxabi=8.0.0=2
libffi=3.2.1=h6de7cb9_1006
lxml=4.3.3=pypi_0
markupsafe=1.1.1=pypi_0
ncurses=6.1=h0a44026_1002
openssl=1.1.1b=h01d97ff_2
packaging=19.0=pypi_0
pip=19.1=py37_0
pygments=2.4.0=pypi_0
pyparsing=2.4.0=pypi_0
python=3.7.3=h0d93f26_0
pytz=2019.1=pypi_0
readline=7.0=hcfe32e1_1001
requests=2.21.0=pypi_0
setuptools=41.0.1=py37_0
six=1.12.0=pypi_0
snowballstemmer=1.2.1=pypi_0
soupsieve=1.9.1=pypi_0
sphinx=2.0.1=pypi_0
sphinx-rtd-theme=0.4.3=pypi_0
sphinxcontrib-applehelp=1.0.1=pypi_0
sphinxcontrib-devhelp=1.0.1=pypi_0
sphinxcontrib-htmlhelp=1.0.2=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.2=pypi_0
sphinxcontrib-serializinghtml=1.1.3=pypi_0
sqlite=3.26.0=h1765d9f_1001
tk=8.6.9=ha441bb4_1001
urllib3=1.24.3=pypi_0
wheel=0.33.4=py37_0
xz=5.2.4=h1de35cc_1001
zlib=1.2.11=h1de35cc_1004
